.home {
  height: 100%;
}
.home__search {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 50px 0;
  @media (max-width: 1400px) {
    margin: 10px;
  }
}
.home__search-wrapper {
  width: 40%;
  position: relative;
  @media (max-width: 1400px) {
    width: 75%;
  }
  @media (max-width: 540px) {
    width: 100%;
  }
}
.home__search-field {
  width: 100%;
  outline: none;
  border-radius: 2px;
  padding: 15px 20px 15px 40px;
  min-width: 300px;
  font-size: 15px;
  position: relative;
}
////
