.input-field {
  border: none;
  outline: none;
  border-radius: 15px;
  min-width: 300px;
  padding: 5px 15px;
}
.input-options {
  display: none;
}
.input-options--show {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 100%;
}
