.city-block {
  display: inline-flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.city-block__wrapper {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
}
