.card--city {
  width: 60%;
  @media (max-width: 1460px) {
    width: 75%;
  }
  @media (max-width: 540px) {
    width: 100%;
  }
}
.card__info {
  display: flex;
  align-items: center;
}
.card__city {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.card__city .card__city-name {
  font-size: 20px;
  margin-bottom: 10px;
}
.card__image {
  font-size: 100px;
}
.card__title {
  text-align: center;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.card__schedule {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: 900px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  @media (max-width: 540px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.info-block--day {
  margin: 10px;
  align-items: center;
  justify-content: center;
  height: 150px;
  flex: 0 1 calc(100% / 5 - 20px);
  @media (max-width: 1200px) {
    flex: 0 1 calc(100% / 3 - 20px);
  }
  @media (max-width: 1024px) {
    height: 100px;
    width: 100px;
  }
  @media (max-width: 760px) {
    flex: 0 1 calc(100% / 2 - 20px);
  }
  @media (max-width: 540px) {
    width: 100%;
  }
}
.card__header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @media (max-width: 740px) {
    flex-direction: column-reverse;
  }
}
.card-wrapper {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 10px 20px;
}
.card__values {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.card__schedule-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__temp:first-child {
  margin-right: 20px;
}
.card__schedule-day {
  margin-bottom: 10px;
  font-size: 20px;
}
.card__actions {
  display: flex;
  align-items: center;
}
