.progress-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.progress-indicator {
  display: none;
  &.__active {
    z-index: 1000;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.progress-indicator > svg {
  margin: auto;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  display: block;
  shape-rendering: auto;
  z-index: 1001;
}
.progress-indicator__back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  filter: blur(20px);
}
