.react-autosuggest__container--open input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__container {
  position: relative;
  margin: 40px 0 50px 0;
  width: 40vw;
  @media (max-width: 760px) {
    width: auto;
  }
}
.react-autosuggest__suggestions-container--open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: 100%;
  border-radius: 0 0 23px 23px;
  z-index: 9;
}
.react-autosuggest__container::before {
  content: '\2315';
  position: absolute;
  z-index: 1;
  font-size: 30px;
  transform: scaleX(-1);
  left: 10px;
  top: 3px;
}
