.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
  @media (max-width: 640px) {
    padding: 5px;
    height: 50px;
  }
}
.header__actions {
  display: flex;
  align-items: center;
}
