.checkbox {
  display: flex;
  align-items: center;
  &__label {
    flex-shrink: 0;
    padding: 1rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__input {
    position: relative;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    margin-left: 5px;
    cursor: pointer;

    &::before {
      content: ' ';
      position: absolute;
      top: 50%;
      right: 50%;
      bottom: 50%;
      left: 50%;
      transition: all 0.1s;
    }

    &:checked,
    &:indeterminate {
      &::before {
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
      }
    }

    &:indeterminate {
      &::before {
        top: 0;
        bottom: 0;
      }
    }
  }
}
