.info-block--city {
  display: flex;
  flex-direction: column;
  flex: 0 1 calc(100% / 4 - 20px);
  margin: 10px;
  max-height: 150px;
  cursor: pointer;
  @media (max-width: 1024px) {
    flex: 0 1 calc(100% / 3 - 20px);
  }
  @media (max-width: 1024px) {
    flex: 0 1 calc(100% / 2 - 20px);
  }
  @media (max-width: 440px) {
    flex: 0 1 100%;
  }
}
.info-block__name {
  text-align: center;
  font-size: 21px;
  margin-bottom: 10px;
}
.info-block__temp {
  text-align: center;
}
.info-block__weather {
  text-align: center;
  font-size: 21px;
  margin-top: 10px;
}
.info-block--no-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
}
