* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue',
    Arial, sans-serif;
}
html,
#root,
body {
  height: 100%;
  width: 100%;
}
.App {
  height: calc(100% - 80px);
  @media (max-width: 640px) {
    height: calc(100% - 50px);
  }
}
